// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

input{
    margin-bottom: 45px;
}

.container{
    margin-top: 50px;
}

button{
    width: 60px;
    margin-top: 150px;
    margin-right: 6px;
}
